.top-bar {
  &__container {
    background: #353535;
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text {
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    @media (max-width: 1024px) {
      font-size: 10px;
    }
  }
}
